<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <%- include('../partials/header') %>

    <h1>here is a list of all your activities</h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">duration</th>
            <th scope="col">status</th>
            <th scope="col">details</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          <% activities.forEach(function(activity){%>
            <tr>
              <th scope="row">1</th>
              <td><%= activity.title %></td>
              <td><%= activity.duration %></td>
              <td><%= activity.status ='true' ? 'done' : 'not done'  %></td>
              <td><a href="/activities/<%= activity._id %>"> <input type="submit" value="details"></a>
              </td>
              
              <td><a href="/activities/<%= activity._id %>/edit"><input type="submit" value="edit"></a>
                
         
               </td>

                <td>       

                  <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="delete"></form>
                </td>
              
            </tr>

          <%})%>
          
        </tbody>
      </table>











  


<!-- 
</body>
</html> -->