<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <%- include('../partials/header') %>

    <h1>here is a list of all your activities</h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">date</th>
            <!-- <th scope="col">time</th> -->
            <!-- <th scope="col">status</th> -->
            <th scope="col">Add Note</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          <% activities.forEach(function(activity){%>
            <% console.log(activity) %>
            <tr>
              <th scope="row"></th>
              <td><%= activity.title %></td>
              <td><%= activity.date %></td>
              <!-- <td><%= activity.time%></td> -->

              <!-- 
              <td><%= activity.time %></td> -->
              <!-- <td><%= activity.status ='true' ? 'done' : 'not done'  %></td> -->
              <td><a href="/activities/<%= activity._id %>"> <button class="waves-effect waves-light small green" btn type="submit" value="details">   <i class="material-icons white">storage</i>
              </a>
              </td>
              
              <td><a href="/activities/<%= activity._id %>/edit"><button type="submit"class="waves-effect waves-light small green" value=""> <i class="material-icons white">edit</i>
              </a>
                
         
               </td>

                <td>       

                  <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                    <button type="submit"class="waves-effect waves-light small red"  value=""> <i class="material-icons ">delete</i></form>
                </td>
              
            </tr>

          <%})%>
          
        </tbody>
      </table>











  


<!-- 
</body>
</html> -->