<%- include('../partials/header') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">date</th>
        <th scope="col">time</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= activity.title %></td>
        <td><%= activity.date %></td>
        <td><%= activity.time %></td>
        <td><%= activity.status %></td>
      </tr>
     
    </tbody>
  </table>

  <% if(activity.notes.length){ %>
    <table>
      <thead>
        <tr>
            <th>note subject</th>
            <th>note details</th>
        </tr>
      </thead>

      <tbody>
        <% activity.notes.forEach(activity => {%>

        <tr>
          <td><%= activity.content %></td>
        </tr>

        <% }) %>
        <% } %>

  </tbody>
  </table>

<form action="/activities/<%= activity._id %>/notes" method="POST">
    <label>Add a note:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add a note">

</form>



<div>Users:</div>


 


<h2>users to participate</h2>
<form  action="/activities/<%= activity._id %>/users" method="POST">


    <ul >
      <%- users.map(u => `<li name="userId">${u.name}</li>`).join('') %> 
    </ul> 

    
  </select>
  <button type="submit" >Add to users </button>

</form>

  
</form>

