
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <!-- Gooogle Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Materialize Icons -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- Materialize CSS Framework -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  <!-- JavaScript for Materialize -->
  <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body> 


  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/activities">Back</a>
        </li>
      </ul>
    </div>
  </nav>











<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= activity.title %></td>

        
        <td><%= activity.duration %></td>
      </tr>
     
    </tbody>
  </table>

  <% if(activity.notes.length){ %>
    <table class="table">
      <thead>
        <tr>
            <th>note </th>
            <th>delete</th>
            <th> details</th>
            <th> created at</th>
        </tr>
      </thead>

      <tbody>
        <% activity.notes.forEach(activity => {%>

        <tr>
          <td><%= activity.content %></td>
          <td>
            <form action="/notes/<%= activity._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </td>
        <td>
          <a href="/notes/<%= activity._id %>/edit">EDIT</a>
        </td>
        <td><%= activity.createdAt.toLocaleDateString()%></td>
        </tr>

        <% }) %>
        <% } %>

  </tbody>
  </table>
<section class="notesPart" style="padding: 2rem">

<form action="/activities/<%= activity._id %>/notes" method="POST" id="notesFirst">
    <label></label>
    <textarea name="content" style="padding: 1rem"></textarea>
    <input type="submit" class="btn btn-success"  style="margin-top: 1rem" value="add a note" id="notebutton" class="waves-effect waves-light btn green" >

</form>

</section>

<div class="section">

  
 <!-- <div> friends joining the app -->



<form  action="/activities/<%= activity._id %>/users" method="POST" id="notes">

  <ul class="input-field" name="userId">
   <div class="input-field">
     <label>List of Users</label>
    <select name="userId">
      <%- users.map(p => 
      `<option value="${p._id}">${p.name}</option>`
    ).join('') %>
  
    </select>
  </div>
    <button type="submit" class="btn btn-success"> Join your friends ?</button>
    <!-- <button type="submit" class="waves-effect waves-light btn green">Join your friends ?</button> -->
<hr>
    <h1> Users who joined</h1>

  


<!-- <table>
  <thead>
    <tr>
        <th>#</th>
       ` <th>${p.name}</th>`
        <th>user img</th>
    </tr>
  </thead>
  <tbody>
    <tr> -->


      <div>Users: </div>
      <ul> <%- activity.users.map( p => 
        `<li>${p.name} </li>`
      ).join('') %>
      
      </ul> 
    
  

 

</form>

</div>
  


</div>


</div>

</body>
</html>