<%- include('../partials/header') %>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">duration</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= activity.title %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.status %></td>
      </tr>
     
    </tbody>
  </table>

  <% if(activity.notes.length){ %>
    <table>
      <thead>
        <tr>
            <th>note subject</th>
            <th>note details</th>
        </tr>
      </thead>

      <tbody>
        <% activity.notes.forEach(activity => {%>

        <tr>
          <td><%= activity.content %></td>
        </tr>

        <% }) %>
  <% } %>
  </tbody>
  </table>

<form action="/activities/<%= activity._id %>/notes" method="POST">
    <label>Add a note:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add a note">

</form>



<div>Users:</div>
<ul><%- activity.users.map(user =>
  
    `<li>${user.name}</li>`
    ).join('') %>
</ul>

<form action="/activities/<%= activity._id %>/users" method="POST">
  <select name="userId">
    <%- users.map(user =>  %>
    `    <option value="${user._id}">${user.name}</option>`
    <% ).join('') %>
  </select>
</form>