<%- include('../partials/header') %>




<table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.duration.getFullYear() %></td>
        <td><%= activity.status %></td>
      </tr>
     
    </tbody>
  </table>

  <% if(activity.notes.length){ %>
    <table>
      <thead>
        <tr>
            <th>note subject</th>
            <th>delete</th>
            <th>note details</th>
            <th>note details</th>
        </tr>
      </thead>

      <tbody>
        <% activity.notes.forEach(activity => {%>

        <tr>
          <td><%= activity.content %></td>
          <td>
            <form action="/notes/<%= activity._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </td>
        <td>
          <a href="/notes/<%= activity._id %>/edit">EDIT</a>
        </td>
        <td><%= activity.createdAt%></td>
        </tr>

        <% }) %>
        <% } %>

  </tbody>
  </table>

<form action="/activities/<%= activity._id %>/notes" method="POST">
    <label>Add a note:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add a note" class="waves-effect waves-light btn green">

</form>
<hr>
<hr>

<div class="divider">
</div>
<div class="section">

    <!-- <div>Cast: </div>
  <ul> <%- activity.users.map( p => 
    `<li>${p.name} </li>`
  ).join('') %>
  
  </ul> 
 -->

<!-- <div> friends joining the app -->



<form  action="/activities/<%= activity._id %>/users" method="POST">

  <!-- <ul class="input-field" name="userId"> -->
   <!-- <div class="input-field">
    <select name="userId">
      <%- users.map(p => 
      `<option value="${p._id}">${p.name}</option>`
    ).join('') %>
  
    </select>
  </div> -->
    <button type="submit"> Join your friends ?</button>
    <!-- <button type="submit" class="waves-effect waves-light btn green">Join your friends ?</button> -->
<hr>
    <h1> Users who joined</h1>

  


<table>
  <thead>
    <tr>
        <th>#</th>
        <th>user</th>
        <th>user img</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <% users.forEach(p => { %>

        <% if(activity.users.includes(p._id)) { %>

      <th scope="row">1</th>
      <td><%= p.name %></td>
      <td><img src="<%= p.avatarURL %>" alt="img not available" class="circle small responsive-image"></td>
    </tr>
   
  </tbody> -->





<% } %>
    
<% }) %>







 

</form>

</div>


</div>


  

