<%- include('../partials/header') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('select').formSelect();
});
      
</script>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">date</th>
        <th scope="col">time</th>
        <!-- <th scope="col">status</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= activity.title %></td>
        <td><%= activity.duration %></td>
        <!-- <td><%= activity.time %></td> -->
        <!-- <td><%= activity.status %></td> -->
      </tr>
     
    </tbody>
  </table>

  <% if(activity.notes.length){ %>
    <table>
      <thead>
        <tr>
            <th>note subject</th>
            <th>note details</th>
        </tr>
      </thead>

      <tbody>
        <% activity.notes.forEach(activity => {%>

        <tr>
          <td><%= activity.content %></td>
        </tr>

        <% }) %>
        <% } %>

  </tbody>
  </table>

<form action="/activities/<%= activity._id %>/notes" method="POST">
    <label>Add a note:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add a note">

</form>



<div class="input-field"> Users:



<h2>users to participate</h2>
<form  action="/activities/<%= activity._id %>/users" method="POST">
  <select name="userId">
    <% console.log(users) %>

    <%- users.map(p =>  
    `<option value="${p._id}"> ${p.name}</option>`

    
    ) %>

    <option></option>
  </select>


  <button type="submit">Add to Cast </button>

  
  

 

</form>
</div>

  

